.playground-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-items: flex-start;
}

.item-container {
  background: #f4f4f4;
  border: #ccc solid 2px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  flex: 1 1 500px;
}

.item-card-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: white;
  border: none;
}

.machine-container {
  flex: 1 0;
  min-width: 1173px;
}

.machine-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.result-item > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 120px;
  background: white;
  border: #f7f2f2 solid 2px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
}

.result-item > div > p {
  color: #00aaff;
  font-weight: bolder;
  font-size: 6rem;
  margin: 0px;
}

.spin-btn {
  width: 32em;
  background: #db2828;
  border: 1px solid #db2828;
  color: white;
  border-radius: 3px;
  padding: 5px 0px;
  cursor: pointer;
}

.spin-btn:hover {
  opacity: 0.5;
}

.card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 185px;
  background-color: #fff;
  border: #ccc solid 2px;
  margin: 10px;
}

.card-numbers {
  width: 175px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
}

.card-numbers > div {
  background-color: #f1f1f1;
  width: 25px;
  height: 32px;
  margin: 5px;
  text-align: center;
  line-height: 75px;
  font-size: 16px;
  font-weight: bolder;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-header {
  width: 100%;
  background: #287ebf;
  color: white;
}

.card-header > h3 {
  margin: 0;
  padding: 10px;
}

.winning-message {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  flex-direction: column;
}

.winning-message button {
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  padding: 0.25em 0.5em;
  cursor: pointer;
}

.winning-message button:hover {
  background-color: black;
  color: white;
  border-color: white;
}
